@def selectionBorderWidth 2px;
.cellTableWidget {
	margin: 0px;
	width: 100%;
	text-align: left;
	table-layout: fixed;
}

/* .cellTableWidget td { */
/* 	padding-left: 5px */
/* } */
.cellTableFirstColumn {
	padding-left: 10px;
	text-transform: uppercase;
}

.cellTableLastColumn {
	/* 	text-align: center; SPECIFICATO NEL FILE MAIN.CSS X' CI SONO ESIGENZE DIFFERENTI DA TABELLA A TABELLA */
	
}

.cellTableFooter {
}

.cellTableHeader {
	text-align: left;
	color: #777;
	font-size: 0.75em;
	background-repeat: repeat-x;
	background-color: #F6F6F6;
	background-position: left bottom;
	border-bottom: 1px solid #DDDDDD;
	height: 40px;
	vertical-align: middle;
}

.cellTableCell {
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
	height: 40px;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
	padding-left: 10px
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader { /* 	text-align: center; */
	text-align: right;
	padding-right: 10px
}

.cellTableSortableHeader {
	cursor: pointer;
}

.cellTableSortableHeader:hover {
	color: #3880bf;
}

.cellTableSortedHeaderAscending {
	color: #3880bf;
	/* 	background-image: url('img/greenPulSX.png'); */ /* 	width: 30px; */
	/* 	height: 40px; */
	z-index: 99999;
}

.cellTableSortedHeaderDescending {
	color: #3880bf;
}

.cellTableEvenRow {
	background: #ffffff;
}

.cellTableEvenRowCell {
	
}

.cellTableOddRow {
	background: #ffffff;
}

.cellTableOddRowCell {
	
}

.cellTableHoveredRow {
	background: #FFFFCC;
	cursor: pointer;
}

.cellTableHoveredRowCell {
	
}

.cellTableKeyboardSelectedRow {
	background: #FFFFCC;
	cursor: pointer;
}

.cellTableKeyboardSelectedRowCell {
	
}

.cellTableSelectedRow {
	
}

.cellTableSelectedRowCell {
	
}

.cellTableKeyboardSelectedCell {
	
}

.cellTableLoading {
	
}